body {
    font-family: sans-serif;
    background-color: #6A2B2B;
}

.nav-link {
    font-size: 30px;
    color: black;
    text-decoration: none;
    display: block;
}

nav a {
    text-decoration:none;
    color:white;
    font-size: 30px;
    border: 2px solid black;
    margin: 3px;
    padding: 3px;
    background-color: #CD0074;
    border-radius: 10px;
    text-align: center;
}

h1 {
    text-align: center;
}

header h1 {
    font-size: 70px;
}

.bee {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    margin: 0 auto;
}

h2 {
    font-size: 80px;
    text-align: center;
}

main p {
    font-size: 30px;
}

.yley {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.ylley {
    background-color: #CD0074;
}

.baler {
    width: 300px;
    height: 350px;
}

.coco {
    width: 250px;
    height: 250px;
}

.aksesoar {
    background-color: #CD0074;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
    color: black;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #CD0074;
    font-weight: bolder;
}

.egg {
    width: 100px;
}

.egg:hover {
    border: 6px solid black;
    width: 100px;
    height: 100px;
    transition: 0.5s ease-out;
    padding: 5px;
}

.predmetu {
    background-color: #CD0074;
}

.nav-link:hover {
    background-color: black;
    color: #CD0074;
    transition: 1s linear;
}

.gallery {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.gallery img {
    opacity: 0.9;
    width: 170px;
    height: 220px;
}

.gallery img:hover {
    opacity: 1;
    border: 6px solid white;
    width: 250px;
    height: 300px;
    transition: 0.5s ease-out;
    padding: 5px;
}

.pipi {
    display: flex;
    justify-content: space-between;
}

.storinka {
    font-size: 25px;
}
